@import '_bootstrap.scss';
@import '_grids.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $bs-body-font-family;
  background-color: #b2a8a1;
  background: url("../img/fondo.webp");
  background-size: cover;
  font-size: 22px;
  //display: table-footer-group;
}

main {
  max-width: 1440px;
  margin: 0 auto;
}

footer {
  padding: 45px 20px;
}

.logo {
  max-width: 350px;
  width: 100%;
}

h1 {
  text-align: center;
  color: $bs-heading-color;
  padding: 20px;
  font-weight: bold;
}

h2 {
  color: $bs-heading-color;
  text-align: left;
  padding: 20px 15px;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #7c5570;
  font-weight: bold;
}

ul {
  padding: 40px;
  list-style: none;

  > li {
    display: inline-block;
  }
}

footer {
  h2 {
    padding: 20px;
    text-align: center;
    }
}

nav {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    column-gap: 30px;
    li {
        a {
        color: #7c5570;
        text-decoration: none;
        }
    }
  }
}

.banner {
    height: 460px;
    width: 100%;
    border-radius: 0px !important;
}

.btn-purple {
  color: #fff;
  background-color: #7c5570;

  &:hover,
  &:active,
  &:focus {
    background-color: #b2a8a1;
  }
}

.circular {
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.card {
    padding: 10px;
}

.card-text {
    font-size: 16px;
    justify-content: center;
}

.card-icon {
    font-size: 15px;
}

.card-margin {
    margin: 0px 30px;
}

.contacto {
    display: flex;
    flex-direction: column;
    padding: 45px;
    width: 100%;
    text-align: center;
    margin: auto;
    input[type='text'],
    textarea {
      max-width: 800px;
      width: 100%;
      margin: auto;
      padding: 5px 20px;
      border: 1px dotted #7c5570;
      border-radius: 15px;
    }
  }

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img362 {
    width: min(100%, 362px);
    height: auto;
    margin: auto;
}

.inline {
    display: inline;
}

.navbar-toggler, .navbar-toggler:focus {
  border: none;
  box-shadow: none;
}

.lista-simple, .lista-simple li {
    padding: 0px;
}

.pad1 {
  padding: 1rem;
}

.producto {
    display: flex;
    border-top: 1px dotted #7c5570;
    border-bottom: 1px dotted #7c5570;
    flex-direction: row;
    img {
      height: 350px;
      padding: 45px;
    }
    p,
    .promociones p,
    .contacto p {
      padding: 20px 45px;
    }
}

.promociones {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    padding: 1rem;
    img {
      width: 100%;
      height: auto;
      margin-bottom: 1rem;
    }
}

.purple {
    color: #4a2e42;
}

.section1 {
    margin: auto;
    text-align: center;
    display: flex;
    gap: 20px;
    flex-direction: row-reverse;
    p {
      text-align: center;
      color: black;
      line-height: 1.5;
    }
    .justified{
      text-align: justify;
    }

    img {
      border-radius: 15px;
    }
}
  


.textbox {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 45px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.video {
  border-radius: 15px;
}

.volver {
  position: fixed;
  top: auto;
  bottom: 10px;
  right: 10px;
  img {
    width: 30px;
    height: 30px;
  }
}

.w100 {
  width: 100%;
}

.vid {
  width: min(100%, 980px);
  height: 500px;
  margin: auto;
}

@media (min-width: 992px) {
  .navbar-expand-lg {
    .navbar-collapse {
      justify-content: center;
    }
  }
}

@media (max-width: 989px) {
  .vid {
    height: 350px;
  }
}

@media (max-width: 768px) {
  header {
    text-align: center;
  }
  .header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    .logo {
      margin-bottom: 1rem;
    }
  }
  main {
    justify-content: center;
  }
  .textbox {
    padding: 1rem;
  }
  .card-margin{
    margin: 0;
  }
  .section1 {
    flex-wrap: wrap;
    flex-direction: row;
    .vid {
      height: 250px;
    }
  }
}
$bg1:#9bcda4;
$bg2: #e5a6de;
$bg3: #675b9f;

@mixin redes ($bg){
  border: 3px solid $bg;
}
.whatsapp{
  @include redes ($bg1)
}
.instagram{
  @include redes ($bg2)
}
.facebook{
  @include redes ($bg3)
}